#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "dotclear2"
name = "DotClear 2"
description.en = "Blog publishing application"
description.fr = "Moteur de blog"

version = "2.34.0~ynh1"

maintainers = ["kay0u"]

[upstream]
license = "GPL-2.0-or-later"
website = "https://dotclear.org"
demo = "https://www.softaculous.com/demos/Dotclear"
admindoc = "https://dotclear.org/documentation/2.0"
code = "https://git.dotclear.org/dev/dotclear"
cpe = "cpe:2.3:a:dotclear:dotclear"
fund = "https://dotclear.org/donate"

[integration]
yunohost = ">= 11.2"
architectures = "all"
multi_instance = true

ldap = true

sso = false

disk = "50M"
ram.build = "200M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/dotclear2"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.init_admin_permission]
    ask.en = "Choose the Dotclear super user."
    ask.fr = "Choisissez le super utilisateur Dotclear."
    help.en = "You can later on give admin permission to more users."
    help.fr = "Vous pourrez ultérieurement accorder l’autorisation d’administrateur à davantage d’utilisateurs."
    type = "user"

[resources]
    [resources.sources.latest]
    prefetch = false
    in_subdir = 2
    url = "https://download.dotclear.org/latest/dotclear-2.34.tar.gz"
    sha256 = "d0ecad58bed1500dafe04d4774ccd88fff57704a901c93a833efcff818c1f47c"

    [resources.sources.attic]
    prefetch = false
    in_subdir = 2
    url = "https://download.dotclear.org/attic/dotclear-2.33.1.tar.gz"
    sha256 = "39de90bf355b6a74a578575dca6a741935160ae9339df27634e0dfd48b537927"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"
    admin.show_tile = false

    [resources.apt]
    packages = "mariadb-server, php8.2, php8.2-fpm, php8.2-mbstring, php8.2-mysql, php-iconv, php8.2-xml, php8.2-cli, php8.2-intl, php8.2-ldap, php8.2-gd"

    [resources.database]
    type = "mysql"
